# Python
__pycache__/
*.pyc
venv/

# Environment variables
.env

# Uploaded files
backend/uploads/*

# SQLite database
backend/instance/
*.db

# Node
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db